# <- signifies a comment.
# grub.cfg - tells our bootloader, GRUB (Grand Unified Bootloader) what to boot and how.
# Fun fact - The name GRUB is a play on the Grand Unified Theory (GUT) in physics, a theory attempting to unify 3 of 4 fundamental forces of nature. GRUB attempts to create a single, unified bootloader.
# GRUB is also used by Linux.

set timeout=0     # How long to wait in seconds at the boot menu before auto-booting. In this can 0, or boot immediately.

set default=0     # Which menu entry to boot to by default. In this case 0, or the first entry.


# Define a boot menu entry. The text in quotes is the name on screen.
menuentry "LeveretOS - GDT" {
    
    # "/boot/kernel.bin" is where the kernel will sit inside the ISO. An ISO file is a digital copy of the entirety of and optical drive, like a DVD. Our OS is loaded into an ISO file before installing.
    multiboot /boot/kernel.bin  #Load our kernel using Multiboot Protocol. This is the "language" in which our OS and GRUB will communicate. OUr kernel consists of all our sections, including boot.s and kernel.cpp.

    boot #Hand control to the newly loaded kernel and start running its code.
}